<!-- Toast Container for Top and Bottom -->
<div
  class="toast-container fixed inset-0 flex pointer-events-none space-y-2"
  [ngClass]="{
    'items-start justify-start flex-col':
      toasts.length && toasts[0].position === ToastPosition.TOPLEFT,
    'items-start justify-end flex-col':
      toasts.length && toasts[0].position === ToastPosition.BOTTOMLEFT,
    'items-end justify-start flex-col':
      toasts.length && toasts[0].position === ToastPosition.TOPRIGHT,
    'items-end justify-end flex-col':
      toasts.length && toasts[0].position === ToastPosition.BOTTOMRIGHT,
    'items-start justify-center flex-col':
      toasts.length && toasts[0].position === ToastPosition.TOPCENTER,
    'items-end justify-center flex-col':
      toasts.length && toasts[0].position === ToastPosition.BOTTOMCENTER
  }"
>
  <!-- Toast Items -->
  <div
    *ngFor="let toast of toasts"
    class="toast-item relative px-4 py-2 rounded-md overflow-hidden shadow-lg pointer-events-auto transition-all duration-300 max-w-72"
    [ngClass]="{
      'bg-green-500 text-white': toast.type === ToastType.SUCCESS,
      'bg-red-500 text-white': toast.type === ToastType.ERROR,
      'bg-yellow-500 text-black': toast.type === ToastType.WARNING,
      'bg-blue-500 text-white': toast.type === ToastType.INFO,
      'border-2 border-pink-500': toast.theme === ToastTheme.COLORED
    }"
    (mouseenter)="pauseToast(toast)"
    (mouseleave)="resumeToast(toast)"
  >
    <div class="flex items-center justify-center gap-2">
      <ng-container [ngSwitch]="toast.type">
        <i *ngSwitchCase="ToastType.INFO" class="material-icons">info</i>
        <!-- Info Icon -->
        <i *ngSwitchCase="ToastType.WARNING" class="material-icons">warning</i>
        <!-- Warning Icon -->
        <i *ngSwitchCase="ToastType.SUCCESS" class="material-icons"
          >check_circle</i
        >
        <!-- Success Icon -->
        <i *ngSwitchCase="ToastType.ERROR" class="material-icons">dangerous</i>
        <!-- Error Icon -->
      </ng-container>

      <div>{{ toast.message }}</div>
      <button
        *ngIf="toast.closable"
        class="ml-auto text-white"
        (click)="closeToast(toast)"
      >
        &#10005;
      </button>
    </div>
    <!-- Progress bar -->
    <div
      *ngIf="toast.progress"
      class="h-1 absolute bottom-0 left-0 w-full bg-white transition-all duration-300"
      [style.width]="toast.progress + '%'"
    ></div>
  </div>
</div>
