<div
  class="w-auto inline-flex items-center justify-start flex-wrap space-x-2 px-3"
  [ngClass]="[variantClass, radiusClass, sizeClass]"
>
  <ng-container *ngFor="let breadcrumb of breadcrumbs; let isLast = last">
    <div class="flex items-center space-x-1">
      <ng-container *ngIf="breadcrumb.startIcon">
        <i class="material-icons text-sm">{{ breadcrumb.startIcon }}</i>
      </ng-container>
      <ng-container *ngIf="breadcrumb.route; else labelOnly">
        <a [routerLink]="breadcrumb.route" class="hover:underline">{{ breadcrumb.label }}</a>
      </ng-container>
      <ng-template #labelOnly>
        <span>{{ breadcrumb.label }}</span>
      </ng-template>
    </div>
    <span *ngIf="!isLast">{{ separator }}</span>
  </ng-container>
</div>
