@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default */
    --jobify-default: rgb(212, 212, 216); /* #d4d4d8 */
    --jobify-default-50: rgb(250, 250, 250); /* #fafafa */
    --jobify-default-100: rgb(244, 244, 245); /* #f4f4f5 */
    --jobify-default-200: rgb(228, 228, 231); /* #e4e4e7 */
    --jobify-default-300: rgb(212, 212, 216); /* #d4d4d8 */
    --jobify-default-400: rgb(161, 161, 170); /* #a1a1aa */
    --jobify-default-500: rgb(113, 113, 122); /* #71717a */
    --jobify-default-600: rgb(82, 82, 91); /* #52525b */
    --jobify-default-700: rgb(63, 63, 70); /* #3f3f46 */
    --jobify-default-800: rgb(39, 39, 42); /* #27272a */
    --jobify-default-900: rgb(24, 24, 27); /* #18181b */

    /* Primary */
    --jobify-primary: rgb(0, 111, 238); /* #006fee */
    --jobify-primary-50: rgb(230, 241, 254); /* #e6f1fe */
    --jobify-primary-100: rgb(204, 227, 253); /* #cce3fd */
    --jobify-primary-200: rgb(153, 199, 251); /* #99c7fb */
    --jobify-primary-300: rgb(102, 170, 249); /* #66aaf9 */
    --jobify-primary-400: rgb(51, 142, 247); /* #338ef7 */
    --jobify-primary-500: rgb(0, 111, 238); /* #006fee */
    --jobify-primary-600: rgb(0, 91, 196); /* #005bc4 */
    --jobify-primary-700: rgb(0, 68, 147); /* #004493 */
    --jobify-primary-800: rgb(0, 46, 98); /* #002e62 */
    --jobify-primary-900: rgb(0, 23, 49); /* #001731 */

    /* Secondary */
    --jobify-secondary: rgb(120, 40, 200); /* #7828c8 */
    --jobify-secondary-50: rgb(242, 234, 250); /* #f2eafa */
    --jobify-secondary-100: rgb(228, 212, 244); /* #e4d4f4 */
    --jobify-secondary-200: rgb(201, 169, 233); /* #c9a9e9 */
    --jobify-secondary-300: rgb(174, 126, 222); /* #ae7ede */
    --jobify-secondary-400: rgb(147, 83, 211); /* #9353d3 */
    --jobify-secondary-500: rgb(120, 40, 200); /* #7828c8 */
    --jobify-secondary-600: rgb(96, 32, 160); /* #6020a0 */
    --jobify-secondary-700: rgb(72, 24, 120); /* #481878 */
    --jobify-secondary-800: rgb(48, 16, 80); /* #301050 */
    --jobify-secondary-900: rgb(24, 8, 40); /* #180828 */

    /* Success */
    --jobify-success: rgb(23, 201, 100); /* #17c964 */
    --jobify-success-50: rgb(232, 250, 240); /* #e8faf0 */
    --jobify-success-100: rgb(209, 244, 224); /* #d1f4e0 */
    --jobify-success-200: rgb(162, 233, 193); /* #a2e9c1 */
    --jobify-success-300: rgb(116, 223, 162); /* #74dfa2 */
    --jobify-success-400: rgb(69, 212, 131); /* #45d483 */
    --jobify-success-500: rgb(23, 201, 100); /* #17c964 */
    --jobify-success-600: rgb(18, 161, 80); /* #12a150 */
    --jobify-success-700: rgb(14, 121, 60); /* #0e793c */
    --jobify-success-800: rgb(9, 80, 40); /* #095028 */
    --jobify-success-900: rgb(5, 40, 20); /* #052814 */

    /* Warning */
    --jobify-warning: rgb(245, 165, 36); /* #f5a524 */
    --jobify-warning-50: rgb(254, 252, 232); /* #fefce8 */
    --jobify-warning-100: rgb(253, 237, 211); /* #fdedd3 */
    --jobify-warning-200: rgb(251, 219, 167); /* #fbdba7 */
    --jobify-warning-300: rgb(249, 201, 124); /* #f9c97c */
    --jobify-warning-400: rgb(247, 183, 80); /* #f7b750 */
    --jobify-warning-500: rgb(245, 165, 36); /* #f5a524 */
    --jobify-warning-600: rgb(196, 132, 29); /* #c4841d */
    --jobify-warning-700: rgb(147, 99, 22); /* #936316 */
    --jobify-warning-800: rgb(98, 66, 14); /* #62420e */
    --jobify-warning-900: rgb(49, 33, 7); /* #312107 */

    /* Danger */
    --jobify-danger: rgb(243, 18, 96); /* #f31260 */
    --jobify-danger-50: rgb(254, 231, 239); /* #fee7ef */
    --jobify-danger-100: rgb(253, 208, 223); /* #fdd0df */
    --jobify-danger-200: rgb(250, 160, 191); /* #faa0bf */
    --jobify-danger-300: rgb(248, 113, 160); /* #f871a0 */
    --jobify-danger-400: rgb(245, 65, 128); /* #f54180 */
    --jobify-danger-500: rgb(243, 18, 96); /* #f31260 */
    --jobify-danger-600: rgb(194, 14, 77); /* #c20e4d */
    --jobify-danger-700: rgb(146, 11, 58); /* #920b3a */
    --jobify-danger-800: rgb(97, 7, 38); /* #610726 */
    --jobify-danger-900: rgb(49, 4, 19); /* #310413 */

    /* Layout */
    --jobify-background: rgb(255, 255, 255); /* #ffffff */
    --jobify-foreground: rgb(17, 24, 28); /* #11181c */
    --jobify-divider: rgba(17, 17, 17, 0.15); /* #11111126 */

    /* Content */
    --jobify-content-1: rgb(255, 255, 255); /* #ffffff */
    --jobify-content-2: rgb(244, 244, 245); /* #f4f4f5 */
    --jobify-content-3: rgb(228, 228, 231); /* #e4e4e7 */
    --jobify-content-4: rgb(212, 212, 216); /* #d4d4d8 */
  }

  /* Define dark theme jobifys */
  [data-theme="dark"] {
    /* Default */
    --jobify-default: rgb(63, 63, 70); /* #3f3f46 */
    --jobify-default-900: rgb(250, 250, 250); /* #fafafa */
    --jobify-default-800: rgb(244, 244, 245); /* #f4f4f5 */
    --jobify-default-700: rgb(228, 228, 231); /* #e4e4e7 */
    --jobify-default-600: rgb(212, 212, 216); /* #d4d4d8 */
    --jobify-default-500: rgb(161, 161, 170); /* #a1a1aa */
    --jobify-default-400: rgb(113, 113, 122); /* #71717a */
    --jobify-default-300: rgb(82, 82, 91); /* #52525b */
    --jobify-default-200: rgb(63, 63, 70); /* #3f3f46 */
    --jobify-default-100: rgb(39, 39, 42); /* #27272a */
    --jobify-default-50: rgb(24, 24, 27); /* #18181b */

    /* Primary */
    --jobify-primary: rgb(0, 111, 238); /* #006fee */
    --jobify-primary-900: rgb(230, 241, 254); /* #e6f1fe */
    --jobify-primary-800: rgb(204, 227, 253); /* #cce3fd */
    --jobify-primary-700: rgb(153, 199, 251); /* #99c7fb */
    --jobify-primary-600: rgb(102, 170, 249); /* #66aaf9 */
    --jobify-primary-500: rgb(51, 142, 247); /* #338ef7 */
    --jobify-primary-400: rgb(0, 111, 238); /* #006fee */
    --jobify-primary-300: rgb(0, 91, 196); /* #005bc4 */
    --jobify-primary-200: rgb(0, 68, 147); /* #004493 */
    --jobify-primary-100: rgb(0, 46, 98); /* #002e62 */
    --jobify-primary-50: rgb(0, 23, 49); /* #001731 */

    /* Secondary */
    --jobify-secondary: rgb(147, 83, 211); /* #9353d3 */
    --jobify-secondary-900: rgb(242, 234, 250); /* #f2eafa */
    --jobify-secondary-800: rgb(228, 212, 244); /* #e4d4f4 */
    --jobify-secondary-700: rgb(201, 169, 233); /* #c9a9e9 */
    --jobify-secondary-600: rgb(174, 126, 222); /* #ae7ede */
    --jobify-secondary-500: rgb(147, 83, 211); /* #9353d3 */
    --jobify-secondary-400: rgb(120, 40, 200); /* #7828c8 */
    --jobify-secondary-300: rgb(96, 32, 160); /* #6020a0 */
    --jobify-secondary-200: rgb(72, 24, 120); /* #481878 */
    --jobify-secondary-100: rgb(48, 16, 80); /* #301050 */
    --jobify-secondary-50: rgb(24, 8, 40); /* #180828 */

    /* Success */
    --jobify-success: rgb(23, 201, 100); /* #17c964 */
    --jobify-success-900: rgb(232, 250, 240); /* #e8faf0 */
    --jobify-success-800: rgb(209, 244, 224); /* #d1f4e0 */
    --jobify-success-700: rgb(162, 233, 193); /* #a2e9c1 */
    --jobify-success-600: rgb(116, 223, 162); /* #74dfa2 */
    --jobify-success-500: rgb(69, 212, 131); /* #45d483 */
    --jobify-success-400: rgb(23, 201, 100); /* #17c964 */
    --jobify-success-300: rgb(18, 161, 80); /* #12a150 */
    --jobify-success-200: rgb(14, 121, 60); /* #0e793c */
    --jobify-success-100: rgb(9, 80, 40); /* #095028 */
    --jobify-success-50: rgb(5, 40, 20); /* #052814 */

    /* Warning */
    --jobify-warning: rgb(245, 165, 36); /* #f5a524 */
    --jobify-warning-900: rgb(254, 252, 232); /* #fefce8 */
    --jobify-warning-800: rgb(253, 237, 211); /* #fdedd3 */
    --jobify-warning-700: rgb(251, 219, 167); /* #fbdba7 */
    --jobify-warning-600: rgb(249, 201, 124); /* #f9c97c */
    --jobify-warning-500: rgb(247, 183, 80); /* #f7b750 */
    --jobify-warning-400: rgb(245, 165, 36); /* #f5a524 */
    --jobify-warning-300: rgb(196, 132, 29); /* #c4841d */
    --jobify-warning-200: rgb(147, 99, 22); /* #936316 */
    --jobify-warning-100: rgb(98, 66, 14); /* #62420e */
    --jobify-warning-50: rgb(49, 33, 7); /* #312107 */

    /* Danger */
    --jobify-danger: rgb(243, 18, 96); /* #f31260 */
    --jobify-danger-900: rgb(254, 231, 239); /* #fee7ef */
    --jobify-danger-800: rgb(253, 208, 223); /* #fdd0df */
    --jobify-danger-700: rgb(250, 160, 191); /* #faa0bf */
    --jobify-danger-600: rgb(248, 113, 160); /* #f871a0 */
    --jobify-danger-500: rgb(245, 65, 128); /* #f54180 */
    --jobify-danger-400: rgb(243, 18, 96); /* #f31260 */
    --jobify-danger-300: rgb(194, 14, 77); /* #c20e4d */
    --jobify-danger-200: rgb(146, 11, 58); /* #920b3a */
    --jobify-danger-100: rgb(97, 7, 38); /* #610726 */
    --jobify-danger-50: rgb(49, 4, 19); /* #310413 */

    /* Layout */
    --jobify-background: rgb(0, 0, 0); /* #000000 */
    --jobify-foreground: rgb(236, 237, 238); /* #ecedee */
    --jobify-divider: rgba(255, 255, 255, 0.15); /* #ffffff26 */

    /* Content */
    --jobify-content-1: rgb(24, 24, 27); /* #18181b */
    --jobify-content-2: rgb(39, 39, 42); /* #27272a */
    --jobify-content-3: rgb(63, 63, 70); /* #3f3f46 */
    --jobify-content-4: rgb(82, 82, 91); /* #52525b */
  }
}

body {
  background-color: var(--jobify-background);
  color: var(--jobify-foreground);
}
