<button
  [ngClass]="[variantClass, sizeClass, radiusClass]"
  [class.w-full]="fullWidth"
  [class.opacity-50]="isDisabled || isLoading"
  [class.cursor-not-allowed]="isDisabled || isLoading"
  [disabled]="isDisabled || isLoading"
  (click)="handleClick($event)"
  [attr.type]="type"
  class="transition-all duration-300 flex justify-center items-center"
>
  <!-- Start Icon or Spinner -->
  <ng-container *ngIf="isLoading && spinnerPlacement === 'start'; else startIconTemplate">
    <span class="spinner">{{ spinner }}</span>
  </ng-container>

  <ng-template #startIconTemplate>
    <span *ngIf="startContent" class="material-icons mr-2">{{ startContent }}</span>
  </ng-template>

  <!-- Button Content -->
  <ng-container *ngIf="!isIconOnly">
    <ng-content></ng-content>
  </ng-container>

  <!-- End Icon or Spinner -->
  <ng-container *ngIf="isLoading && spinnerPlacement === 'end'; else endIconTemplate">
    <span class="spinner">{{ spinner }}</span>
  </ng-container>

  <ng-template #endIconTemplate>
    <span *ngIf="endContent" class="material-icons ml-2">{{ endContent }}</span>
  </ng-template>
</button>
